* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
  }
  

  .flex-container-header{
    display: flex;
    flex-wrap: nowrap;
    background-color: #7CBFB7;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .flex-container-header .logo{
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 400;
    font-size: x-large;
    width: 50%; 
    align-items: center;  
  }

  .flex-container-header .logout{
    color: #eee;
    font-family: "McLaren", cursive;
    font-weight: 200;
    width: 50%; 
    margin-right: 0px;
    text-align: right;
    align-self: center;
  }

  .flex-container-header .logout:hover{cursor:pointer}
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
 
  /*
  #7CBFB7 - light blue
  #FCE21F - yellow
  #4EA32B - another green
  #8EBA23 - green 


  // Welcome 

    .welcome {
    text-align: center;
    padding: 20px 0;
  }
  /* form styles */
  .welcome form, h2, p {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
  }

  h2{
    padding-top: 25px;
    font-family: "McLaren", cursive;
  }
  .welcome label {
    display: block;
    margin: 20px 0 10px;
  }
  .welcome input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
    color: #999;
    margin: 10px auto;
  }
  .welcome span{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  .welcome button {
    margin: 20px auto;
  }

  .container {
    width: 90%;
    max-width: 560px;
    margin: 80px auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
    background: white;
  }
  .error {
    color: #ff3f80;
    font-size: 14px;
  }
  button {
    text-decoration: none;
    background: #7CBFB7;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
  }

  /*singleSupportCase */

  .project{
  margin: 20px auto; 
  background: white; 
  padding: 10px 20px; 
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.05); 
  border-left: 4px solid #e90074; 
}

h3{
  cursor: pointer; 
}

.actions{
  display:flex; 
  justify-content: space-between; 
  align-items: center; 
}

.material-icons{
  font-size: 24px;
  margin-left: 10px; 
  color: #bbb; 
  cursor:pointer; 
}

.material-icons:hover{
  color: #777;
}

.complete{
  border-left: 4px solid #00ce89;
}

.project.complete .tick {
  color: #00ce89;
}

.details  {
  padding: 15px; 
}

.details label {
  font-weight: bold; 
}

.details div {
  padding: 15px; 
}

/* popup styling */

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popUpAreYouSure{
  padding: 10px;
}

.popUpAreYouSure button{
  padding: 7px; 
}